<!-- ヘッダー(メニュー) -->
<div class="navbar-box bg-success sticky-top">
  <div class="bg-success container">
      <nav class="navbar navbar-expand-md navbar-dark bg-success">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Navbar">
              <ul class="navbar-nav text-md-center nav-justified w-100">
                  <li class="nav-item"><a class="nav-link" href="/index.html">トップ</a></li>
                  <li class="nav-item"><a class="nav-link" href="/content/talk/">対談</a></li>
                  <li class="nav-item"><a class="nav-link" href="/content/question/">質問コーナー</a></li>
                  <li class="nav-item"><a class="nav-link" href="/content/quiz/">クイズ</a></li>
                  <li class="nav-item"><a class="nav-link" href="/content/information/">資料室</a></li>
              </ul>
          </div>
      </nav>
  </div>		
</div>